.debug {
	display: none;
}

body {
	background-color: #000;
}

.tv video {
	height: 100%;
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.tv .overlay {
	position: absolute;
	bottom: 0px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 30px;
	width: 100%;
	height: 300px;
}

.tags-container {
	position: absolute;
	bottom: -100px;
	left: -80px;
}

.tv-tag {
	background-position: 0px 8px;
	color: #fff;
	display: none;
	font-size: 35pt;
	font-weight: bold;
	font-family: 'Helvetica Neue';
	position: absolute;
	padding-left: 56px;
	overflow: hidden;
	width: 400px;
	height: 64px;
	-webkit-text-shadow: 3px 3px 3px #000;
	text-shadow: 3px 3px 3px #000;
	-webkit-transform-origin: 50% 50%;
}

.tv-tag-logo-zb {
	background-image: url(/images/zeeboxtag.png);
	background-repeat: no-repeat;
	background-size: 48px 48px;
}

.tv-tag-logo-gn {
	background-image: url(/images/gracenotetag.png);
	background-repeat: no-repeat;
	background-size: 48px 48px;
}

.tv-tag-logo-al {
	background-image: url(/images/alphonsotag.png);
	background-repeat: no-repeat;
	background-size: 48px 48px;
}

.tv-tag-1 {
	-webkit-transform: translate(70px, -90px);
}

.tv-tag-2 {
	-webkit-transform: translate(-70px, -60px);
}

.tv-tag-3 {
	-webkit-transform: translate(100px, -30px);
}

.tv-tag-4 {
	-webkit-transform: translate(-100px, 0px);
}

.tv-tag-5 {
	-webkit-transform: translate(130px, 30px);
}

.tv-tag-6 {
	-webkit-transform: translate(-70px, 60px);
}

.tv-tag-7 {
	-webkit-transform: translate(70px, 90px);
}

.tv .card-container {
	height: 300px;
}

.tv .card {
	-webkit-transition: all 300ms;
	transition: all 300ms;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	overflow: hidden;
}

.tv .card-minimized {
	width: 86px;
	height: 86px;
	margin-top: 0px;
	padding: 10px;
	bottom: 40px;
	position: absolute;
}

.tv .card-maximized {
	width: 100%;
	height: 350px;
	margin-top: -86px;
	padding: 45px;
	bottom: -70px;
	position: absolute;
}

.tv .card-bottom-logo {
	background: url(/images/blushingtv.png) 11px 15px no-repeat;
	background-size: 45px 38px;
	width: 56px;
	height: 56px;
}

.tv .card-content {
	background-position: top right;
	height: 48px;
	display: none;
}

.tv .card-content .now-playing {
	color: #0061FE;
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Helvetica Neue';
}

.tv .card-content .title {
	color: #000;
	line-height: 1.1em;
	font-size: 40pt;
	font-family: 'Helvetica Neue';
	font-weight: bold;
}

.tv .card-bottom-logo-minimized {
	position: relative;
}

.tv .card-bottom-logo-maximized {
	display: none;
	bottom: 35px;
	left: 35px;
	position: absolute;
}