<% include header.html %>

	<h1>Game Phase Changes</h1>
	<ul id="gamePhaseChanges"></ul>

<% include scripts.html %>
	<script>
		var socket = io.connect();

		socket.emit( 'joinClient', { username: "Josh", gameCode: "1234" } );

		socket.on( 'changeGamePhase', function( data ){
			var html = $("<li><strong>" + data.phase + "</strong> - " + JSON.stringify(data.data) + "</li>");
			$('#gamePhaseChanges').append( html );
		});

		socket.on( 'message', function( data ){
			var html = $("<li><strong>MESSAGE</strong> - " + data.message + "</li>");
			$('#gamePhaseChanges').append( html );
		});
		
	</script>
<% include footer.html %>