<% include header.html %>
<div class="tv">
	<video id="tvvideo" width="320" height="240" autoplay onended="cycleVideo()">
	  <source src="/video/1.m4v" type="video/mp4">
	</video>

	<div class="overlay">
		<div class="row">
			<div class="col-sm-6 card-container">
				<div class="card card-minimized">
					<!-- <div class="card-content tv-tag-logo-al"> -->
					<div class="card-content">
						<p>
							<span class="header">Now Playing:</span>
							<br/>
							<span class="title">Helmann's Real Mayonnaise</span>
						</p>
					</div>
					<div class="card-bottom-logo card-bottom-logo-minimized">&nbsp;</div>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3">
				<div class="tags-container">
					<div class="tv-tag tv-tag-1 tv-tag-logo-zb">Rogain</div>
					<div class="tv-tag tv-tag-7 tv-tag-logo-zb">Chevrolet</div>
					<div class="tv-tag tv-tag-2 tv-tag-logo-gn">Toyota</div>
					<div class="tv-tag tv-tag-6 tv-tag-logo-al">So You Think You Can Dance</div>
					<div class="tv-tag tv-tag-3 tv-tag-logo-al">Special K</div>
					<div class="tv-tag tv-tag-5 tv-tag-logo-gn">NyQuil</div>
					<div class="tv-tag tv-tag-4 tv-tag-logo-zb">Tampax</div>
				</div>
			</div>
		</div>
	</div>
	<div class="debug">>
		<h1>TV Game Phase Changes</h1>
		<ul id="gamePhaseChanges"></ul>
	</div>

	<% include scripts.html %>
	<script>
		//sockets
		var socket = io.connect();

		socket.emit( 'joinTV', { username: "Josh", gameCode: "1234" } );

		socket.on( 'changeGamePhase', function( data ){
			var html = $("<li><strong>" + data.phase + "</strong> - " + JSON.stringify(data.data) + "</li>");
			$('#gamePhaseChanges').append( html );
		});
		
		socket.on( 'message', function( data ){
			var html = $("<li><strong>MESSAGE</strong> - " + data.message + "</li>");
			$('#gamePhaseChanges').append( html );
		});	

		// game phases
		socket.on( 'gamePhase', function( message ) {
			console.log('gamePhase: socket message:', message);
			// message = { phase: 'waitingForPlayers', data: }
			// message = { phase: 'Playing', data: {tag: 'tag'}}
			if (message['phase'] == 'Playing') {
				// show card
				showNewCard(mesage['tag'], 'Now Playing:');
			} else if (message['phase'] == 'waitingForPlayers') {
				console.log('message:', message);
			}
		});

		// when player submits - I don't think we need this.
		socket.on( 'submission', function( data ) {
			// data = {card: 'sentence', tag: 'tag'}
			console.log('submission: socket message:', data);
		});

		// on every new tag discovery
		socket.on( 'tag', function( data ) {
			// data = {tag: 'tag'}
			// when found new tag - we still need {source: 'alphonso'}
			console.log('tag: socket message:', data);
			showNewTag(data['tag']);
		});

		// after judging
		socket.on( 'final', function( data ) {
			// data = {card: 'sentence', tag: 'tag'}
			console.log('final: socket message:', data);
			var tag = data['tag'];
			var sentence = data['card'].replace('<<WORD>>', '<span class="highlight">' + tag + '</span>');
			showNewCard(sentence, 'Winning MadTag!');
		});

		// frontend UI shitz

		var tagDelay = 10000;
		var cardDelay = 30000;

		// tv video (looping and shitz)
		videoCount = 0;
		videoPlayer = document.getElementById("tvvideo");
		tvVideos = ['/video/1.m4v', '/video/2.mp4'];

		function cycleVideo(){
			videoCount++;
	        if (videoCount == 2) videoCount = 0;
	        var nextVideo = tvVideos[videoCount];
	        videoPlayer.src = nextVideo;
	        videoPlayer.play();
		};

		// popping in a new tag
		var tagCSSsOdd = ['.tv-tag-1', '.tv-tag-3', '.tv-tag-5', '.tv-tag-7'];
		var tagCSSsEven = ['.tv-tag-2', '.tv-tag-4', '.tv-tag-6'];
		var useOddPosition = Math.floor(Math.random()*1);
		var tagJObjs = [];
		var tagsInUse = [];
		var tagMonitor;
		var tagLogos = ['tv-tag-logo-zb', 'tv-tag-logo-gn', 'tv-tag-logo-al'];

		function getNewRandomTag() {
			var tagCSSs;
			if (useOddPosition) {
				tagCSSs = tagCSSsOdd;
			} else {
				tagCSSs = tagCSSsEven;
			}
			do {
				newTag = tagCSSs[Math.floor((Math.random()*tagCSSs.length))]; // provides something random between 0-6
			} while (tagsInUse.length > 0 && tagsInUse.indexOf(newTag) > -1);
			console.log('newTag:', newTag);
			console.log('tagsInUse:', tagsInUse);
			return newTag;
		}

		function getLogoCss(type) {
			var logoCss = 'tv-tag-logo-zb';
			if (type) {
				if (type == 'zeebox') {
					logoCss = 'tv-tag-logo-zb';
				} else if (type == 'gracenote') {
					logoCss = 'tv-tag-logo-gn';
				} else  if (type == 'alphonso') {
					logoCss = 'tv-tag-logo-al';
				}
			} else {
				logoCss = tagLogos[Math.floor((Math.random()*tagLogos.length))];
			}
			return logoCss;
		}
		
		function showNewTag(newBrand, type) {
			var logoCss = getLogoCss(type);
			useOddPosition = !useOddPosition;
			var randomTag =  getNewRandomTag();
			console.log('randomTag:', randomTag);
			removeTagIfNeeded();
			tagsInUse.push(randomTag);
			var jTagCell = $(randomTag);
			console.log('tagCell:', jTagCell);
			jTagCell.removeClass('tv-tag-logo-zb').removeClass('tv-tag-logo-gn').removeClass('tv-tag-logo-al').addClass(logoCss).text(newBrand).fadeIn(400);
		}

		function removeTag() {
			if (tagsInUse.length > 0) {
				var tagToRemove = tagsInUse[0];
				tagsInUse.shift();
				$(tagToRemove).fadeOut(1000);
				clearInterval(tagMonitor);
				tagMonitor = setInterval(removeTag, tagDelay);
			}
		}

		function removeTagIfNeeded() {
			if (tagsInUse.length > 2) {
				removeTag();
			}
		}

		// monitor tag removal, make sure tags don't stay on screen for longer than 10 seconds
		tagMonitor = setInterval(removeTag, tagDelay);

		// card popups
		var cardMonitor;
		var cardState = 0; // 0 - minimized, 1 - maximized

		function showNewCard(sentence, header, type) {
			if (!header) {
				header = 'Now Playing:';
			}

			// disabling type for now
			// var logoCss = getLogoCss(type);
			// $('.tv .card-content').removeClass('tv-tag-logo-zb').removeClass('tv-tag-logo-gn').removeClass('tv-tag-logo-al').addClass(logoCss);
			console.log('cardState:', cardState);
			if (cardState == 1) {
				minimizeCard();
				setTimeout(function() {
					$('.tv .card-content .header').hide().text(header);
					$('.tv .card-content .title').hide().text(sentence);
					maximizeCard(function() {
						$('.tv .card-content .header').delay(200).fadeIn(250);
						$('.tv .card-content .title').delay(200).fadeIn(250);
					});
				}, 500);
			} else {
				$('.tv .card-content .header').hide().text(header);
				$('.tv .card-content .title').hide().text(sentence);
				maximizeCard(function() {
					$('.tv .card-content .header').delay(200).fadeIn(250);
					$('.tv .card-content .title').delay(200).fadeIn(250)
				});
			}
		}

		function maximizeCard(callback) {
			$('.tv .card-minimized').removeClass('card-minimized').addClass('card-maximized');
			$('.tv .card-content').show();
			$('.tv .card-bottom-logo-minimized').removeClass('card-bottom-logo-minimized').addClass('card-bottom-logo-maximized');
			clearInterval(cardMonitor);
			cardMonitor = setInterval(minimizeCard, tagDelay);
			cardState = 1;
			callback();
		}

		function minimizeCard() {
			$('.tv .card-maximized').removeClass('card-maximized').addClass('card-minimized');
			$('.tv .card-content').hide();
			$('.tv .card-bottom-logo-maximized').removeClass('card-bottom-logo-maximized').addClass('card-bottom-logo-minimized');
			cardState = 0;
		}

		// monitor tag removal, make sure tags don't stay on screen for longer than 10 seconds
		cardMonitor = setInterval(minimizeCard, tagDelay);
	</script>
</div>
<% include footer.html %>